</section>
</section>
<script>
    let savedDarkMode = localStorage.getItem('study-cards-dark-mode') == "true"
    toggleDarkMode(savedDarkMode);
    if(savedDarkMode){
        body.classList.toggle("dark");
    }
</script>
</body>
</html>