<%- include('header.ejs') -%> 
<div class="title">Pagina Principal</div>
<h1>Bem-vindo </h1>
<p style="font-size: medium;">Este website feito por Tomás Alves, Afonso Januario e Rafaela Alves.
</p>
<%- include('footer.ejs') -%> 